.text-center {
  text-align: center;
}


.App-header {
  background-color: #33cc33;
  height: 75x;
  font-size: 25px;
  padding: 20px;
  color: white;
 /* background-image:url(home.jpeg);
 // background-position: 50% center;
  background-size: cover;*/ 
}

form div{
  margin-bottom:15px;
  line-height:2.2em;
}

.container {
  width: 650px;
  margin: auto;
  text-align: left;
}

input[type='text']{
  padding:4px;
  width:350px;
  height:30ox;
  border-radius: 5px;
  border: #ccc solid 1px;
}



